doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='author' content='Klayton Kowalski')
        meta(name='description' content="Krolua is a home for indie game developers to build a portfolio and showcase their progress.")
        meta(name='keywords' content='indie, game, dev, indiedev, gamedev, development')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block head-content
    body
        main
            block main-content
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        block body-content